<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filing Rabit</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css?ver=5.9.3' />
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>

<body>

    <!-- ==================== Top Header ==================== -->
    <section class="top_header">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <ul class="header_contact">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-mail">
                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                </path>
                                <polyline points="22,6 12,13 2,6"></polyline>
                            </svg>
                            <a href="mainto:info@filingrabbit.in">info@filingrabbit.in</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-phone">
                                <path
                                    d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                </path>
                            </svg>
                            <a href="tel:9674759336">9674759336</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-7 text-center text-sm-right">
                    <ul id="menu-topmenu" class="top-menu">
                        <li><a href="about.html" class="nav-link">About Us</a></li>
                        <li><a href="blog.html" class="nav-link">Blog</a></li>
                        <li><a href="contact.html" class="nav-link">Contact Us</a></li>
                        <li class="login_btn"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== Navigation Header ==================== -->
    <section class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand logo" href="index.html">
                    <img class="img-fluid" src="img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                Protecting your business
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <div class="sub-menu">
                                <div class="row m-0 h-100">
                                    <div class="col-md-3 col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h4>Trademark</h4>
                                        <ul>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h4>Copyright</h4>
                                        <ul>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h4>Patent</h4>
                                        <ul>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h4>Industrial Design</h4>
                                        <ul>
                                            <li><a href="#">Lorem ipsum</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                Legal Draft
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <div class="sub-menu">
                                <div class="row m-0 h-100">
                                    <div class="col-md-3 col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h4>Trademark</h4>
                                        <ul>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h4>Copyright</h4>
                                        <ul>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h4>Patent</h4>
                                        <ul>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                            <li><a href="#">Lorem ipsum</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h4>Industrial Design</h4>
                                        <ul>
                                            <li><a href="#">Lorem ipsum</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <!-- ==================== Banner Section ==================== -->
    <section class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2 data-aos="fade-down" data-aos-duration="1000">About Us</h2>
                        <div class="shadow_text">Filingrabbit</div>
                    </div>
                    <a href="#" class="home">Home</a> / <span>About Us</span>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== About Block Section ==================== -->
    <section class="about__block">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="about__large_image">
                        <img class="img-fluid" src="https://filingrabbit.in/wp-content/uploads/2021/06/excellence-operationnelle-service-forces-vente-F-1.jpg">
                        <div class="about_small_image">
                            <img src="https://filingrabbit.in/wp-content/uploads/2021/06/e44a9ae9b09ffeb97db41ea20b02f6af.png">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="w-100 heading text-left">
                        <h1>About Filing rabbit</h1>
                        <div class="shadow_text">Know Us</div>
                    </div>
                    <div>
                        <p>
                            We understand every start-up is a bridge between dreams and reality. We understand how important your start-up is to you, after all, we are one too! We all know it too well that in this fish-eats-fish world, very few start-ups survive. This happens not because of the lack of effort but due to improper preparation and guidance. This is where we come into the picture. We will help your stat-up shine bright like it is supposed to be while getting it an identity it deserves. 
                        </p>
                        <p>
                            Filing rabbit is a one-stop solution shaping your start-up into a concrete form to cope with the ever-growing, ever-competing world that we live in. Our goal is to remove hurdles from your path to help you build your organization the way you imagined. Be it legal, technical, or identity assistance, we have got you covered. With our 24X7 assistance, your startup will potentially have a world full of opportunities to explore. 
                        </p>
                        <p>
                            Our team understands that starting up something new can be a little overwhelming and stressful, but hey! One leap of faith is all it takes. Once you take that leap, let us take care of all your secondary worries so you can put focus on your primary motive- GROWTH.
                        </p>
                        <p>
                            Filing rabbit- leading you towards the success you deserve.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== Blogs Section ==================== -->
    <section class="blog_section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <div class="section_title mt-0">
                        <h2 data-aos="fade-down" data-aos-duration="1000">Our Blogs</h2>
                        <div class="shadow_text">Know</div>
                    </div>
                    <h4>The less boring side of your development.</h4>
                    <a class="btn btn-theme-outline" href="#">All Our Blogs</a>
                </div>

                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="blog_image">
                                <img src="img/The-legal-procedure-of-Trademark-Registration-and-hearing-in-India.jpg"
                                    alt="Image not found">
                            </div>
                            <div class="blog_content">
                                <h3>
                                    <a href="#">
                                        All You Need To Know About the Power Of Attorney Services
                                    </a>
                                </h3>
                                <p>
                                    A power of attorney (POA) is a legal authorization that offers a post to...
                                </p>
                                <a href="#" class="readmore_btn"><span>Read More</span></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="blog_image">
                                <img src="img/The-procedure-of-getting-copyright-with-all-the-legal-formalities.jpg"
                                    alt="Image not found">
                            </div>
                            <div class="blog_content">
                                <h3>
                                    <a href="#">
                                        What are the Prime Features of a Non-Disclosure Agreement for Third Party?
                                    </a>
                                </h3>
                                <p>
                                    A non-discloser agreement or NDA is a legal contract that forms a trusted
                                    relationship...
                                </p>
                                <a href="#" class="readmore_btn"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== Before Footer Section ==================== -->
    <section class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 mb-4 mb-sm-0">
                    <h5>Call Us</h5>
                    <p>Sales - <a href="tel:9674759336">9674759336</a></p>
                    <p>Support - <a href="tel:9674758730">9674758730</a></p>
                </div>
                <div class="col-sm-4 mb-4 mb-sm-0">
                    <h5>Email Us At</h5>
                    <p>Email - <a href="mailto:info@filingrabbit.in">info@filingrabbit.in</a></p>
                </div>
                <div class="col-sm-4">
                    <h5>Connect With Us</h5>
                    <ul class="social_links">
                        <li>
                            <a href="https://www.facebook.com/filingrabbit01" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/filing_rabbit" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/filingrabbit" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/filingrabbit/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://in.pinterest.com/filingrabbit" target="_blank">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCUlerUoNjflPjTxd9l1CatA" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== Footer Section ==================== -->
    <footer class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Popular Services</h4>
                    <ul id="menu-legal-drafting-menu" class="">
                        <li>
                            <a href="#" class="nav-link">TradeMark Registration</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Copyright Registration</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Co-founder agreement</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Non-Disclosure Agreement for Third Party/Employee</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Service Level Agreement</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Website Policies Bundle</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Quick Links</h4>
                    <ul id="menu-footer-1" class="">
                        <li>
                            <a href="#" class="nav-link">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Refund Policy</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Disclaimer Policy</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Confidentiality Statement</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Terms & Policies</h4>
                    <ul id="menu-quick-links" class="">
                        <li>
                            <a href="#" class="nav-link">About Us</a>
                        </li>
                        <li>
                            <a href="https://filingrabbit.in/blog/" class="nav-link">Blog</a>
                        </li>
                        <li>
                            <a href="https://filingrabbit.in/contact-us/" class="nav-link">Contact Us</a>
                        </li>
                        <li>
                            <a href="https://filingrabbit.in/cart/" class="nav-link">Cart</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Newsletter Subscription</h4>
                    <form action="#" class="tnp-subscription">
                        <input type="text" placeholder="Your name">
                        <input type="email" placeholder="Your email">
                        <input class="tnp-button" type="submit" value="Count me in!">
                    </form>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <p>Copyright © 2021 Filing Rabbit</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- ========== Modals ==========  -->
    <div class="modal fade login_modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <div class="row m-0">
                        <div class="col-sm-12 p-0">
                            <div class="login_block">
                                <a href="https://filingrabbit.in/" rel="home" class="login_logo">
                                    <img src="img/logo.png">
                                </a>
                                <p class="text-center">or</p>
                                <div class="login_wrap">
                                    <form name="loginform" id="loginform" action="https://filingrabbit.in/wp-login.php"
                                        method="post">
                                        <p class="login-username">
                                            <label for="user">Email Address</label>
                                            <input type="text" name="log" id="user" class="input" value="" size="20"
                                                placeholder="Enter Username">
                                        </p>
                                        <p class="login-password">
                                            <label for="pass">Password</label>
                                            <input type="password" name="pwd" id="pass" class="input" value="" size="20"
                                                placeholder="Enter Password">
                                        </p>
                                        <p class="login-submit">
                                            <input type="submit" name="wp-submit" id="wp-submit"
                                                class="button button-primary" value="Log In">
                                            <input type="hidden" name="redirect_to" value="https://filingrabbit.in">
                                        </p>
                                    </form> <a class="forgot password"
                                        href="https://filingrabbit.in/lost-password/">Forgot Password?</a>
                                </div>
                                <p class="text-center">Don't Have an Account? 
                                    <a class="button button-primary" href="#" data-toggle="modal" data-target="#registerModal" data-dismiss="modal">
                                        Sign Up
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade login_modal" id="registerModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <div class="row m-0">
                        <div class="col-sm-12 p-0">
                            <div class="login_block">
                                <a href="https://filingrabbit.in/" class="login_logo">
                                    <img src="img/logo.png" >
                                </a>
                                <p class="text-center">or</p>
                                <form class="register">
                                    <div class="form-group">
                                        <label class="d-block">User Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block">User Password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block">Confirm Password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <button type="submit" class="btn button ur-submit-button">Submit</button>
                                </form>
                                <p class="text-center">Have an Account?
                                    <a class="button button-primary" href="#" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">
                                        Sign In
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade login_modal" id="consultation_modal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <div class="row m-0">
                        <div class="col-sm-12 p-0">
                            <div class="login_block">
                                <a href="https://filingrabbit.in/" rel="home" class="login_logo">
                                    <img src="img/logo.png">
                                </a>
                                <form>
                                    <input class="form-control mb-3" type="text" placeholder="Your Name">
                                    <input class="form-control mb-3" type="email" placeholder="Email Address">
                                    <input class="form-control mb-3" type="tel" placeholder="Mobile Number">
                                    <input class="form-control mb-3" type="text" placeholder="City">
                                    <input class="btn submit_btn" type="submit" value="GET STARTED NOW">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>


</body>
</html>